/* style.css */
/* CALCULATOR */

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  font-family: Jost, sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 256px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#message {
  align-self: flex-end;
}

#display {
  flex-basis: 20%;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

#buttons-container {
  flex-basis: 80%;
  display: flex;
  flex-shrink: 0;
}

.left.buttons {
  flex-basis: 75%;
  display: flex;
  flex-flow: row wrap;
}

.left.buttons > div {
  flex: 1 0 33.33%;
}

.left.buttons > .zero {
  flex: 1 0 66.66%;
}

.right.buttons {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

.right.buttons > div {
  flex-basis: 20%;
}

.right.buttons > .equal {
  flex-grow: 1;
}