/* style.css */
/* CALCULATOR */

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  font-family: Jost, sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 296px;
  display: flex;
  flex-direction: column;
}

#message {
  height: 18px;
}

.error {
  width: 296px;
  text-align: center;
  color: #bebebe;
  font-size: 14px;
  box-shadow: 0px 4px 7px -7px #bebebe;
}

#display {
  max-width: 269px;
  align-self: flex-end;
  font-size: 54px;
  margin: 0 15px 15px 0;
  overflow-y: auto;
}

#buttons-container {
  font-size: 18px;
  display: flex;
}

.left-buttons {
  display: flex;
  flex-flow: row wrap;
}

.left-buttons > .zero {
  width: 138px;
  border-radius: 100px;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.right-buttons > .equal {
  height: 138px;
  border-radius: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 3px 3px 7px #bebebe,
              inset 2px 2px #ffffff;
  margin: 5px;
  width: 64px;
  height: 64px;
}

.buttons:hover {
  box-shadow: inset 3px 3px 7px #bebebe,
              inset -3px -3px 7px #ffffff;
}

.operators.clicked {
  box-shadow: inset 3px 3px 12px #bebebe,
              inset -3px -3px 12px #ffffff;
}